@import '_variables';

.Jammming {
    font-family: @contentFont;
    font-weight: 400;
    color: @contentText;
    padding: 0 0 15px;

    &__loading {
        text-align: center;
        font-size: 22px;
        font-weight: bold;
    }
    &__resultsViewerContainer {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;

        &:after {
            display: table;
            clear: both;
            content: '';
        }
    }
}

@media (min-width: 768px) {
    .Jammming {    
        &__loading {}
        &__resultsViewerContainer {
            width: 90%;            
            &:after {}
        }
    }
}